<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="firstname=">Enter name and surname: </label>
    <input type="text" th:field="*{firstName}" id="firstname="/>
    <input type="text" th:field="*{lastName}" id="lastname="/>
    <br/>
    <input type="submit" value="Update"/>
</form>

</body>
</html>